/* definição das cores */
:root {
    --cor1:rgb(234, 4, 126);
    --cor2:rgb(235, 29, 218);
    --cor3:rgb(255, 109, 40);
    --cor4:rgb(252, 231, 0);
    --cor5:rgb(0, 245, 255);
    --cor-pai:rgb(252, 220, 239);
    --primeiro: #FF0018;
    --segundo: #FFA52C;
    --terceiro: #FFFF41;
    --quarto: #008018;
    --quinto: #0000F9;
    --sexto: #86007D;
    --setimo: #ffffff;
    --oitavo: #000000;
    --cor-nome: #bae0a3;
    --cor-propriedade: #5395fd;
    --cor-valor: #d97171;
    --cor-ponto: #ffffff;
    --fundo-code: #20273c;
    --cor-primairo: #1b1b1b;
    --cor-secundario: #000000;
    --cor-terciario: #1b1b1b;
}

/* comportamento rolagem suave */
html {
    scroll-behavior: smooth;
    margin: 0;
    background-color: yellow;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-style: oblique;
    font-size: 22pt;
}

p {
    text-align:justify;
    font-size: 14pt;
    
}

section {
    padding-bottom: 20px;
}
.descricao{
    color: var(--cor-valor);
    font-family: monospace;
    font-size: 16px;
}
.nome{
    color: var(--cor-nome);
}
.propriedade{
    color: var(--cor-propriedade);
}
.valor{
    color: var(--cor-valor);
}
.ponto{
    color: var(--cor-ponto);
}
code{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    row-gap: 0;
    border-radius: 10px;
    font-family: monospace;
    background-color: var(--fundo-code);
    margin: 0;
}
pre{
    margin: 0;
}
.sumário {
    font-size: 18pt;
    text-align: center;
}

.container-pai {
    height: 100%;
    width: 1000px;
    padding-bottom: 25px;
    margin: 0;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-filho {
    height: 100%;
    width: 500px;
    /* border-radius: 10px; */
    border: 4px solid purple;
    padding: 10px 10px;
    margin: 10px 0 0 10px;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
}

.container-neto {
    height: 200px;
    padding: 15px 20px;
    display: flex;
    background-color: black;
    border: 2px solid black;
}

.contido {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    font-weight: bold;
}
 
.contido:nth-child(2){
    background-color: var(--cor2);
}
.contido:nth-child(3){
    background-color: var(--cor3);
}
.contido:nth-child(4){
    background-color: var(--cor4);
}
.contido:nth-child(5){
    background-color: var(--cor5);
}